html {
    background-color: rgb(240, 240, 240);
}

#header {
    padding-top: 30px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

#title {
    width: 1000px;
    margin: 0 auto;
}

#content {
    background-color: rgb(240, 240, 240);
    overflow: hidden;
    margin-top: 12px;
    padding-top: 12px;
}

#content-wrapper {
    width: 1000px;
    margin: 0 auto;
}

#resultTable {
    table-layout: fixed;
}

td {
    word-break: break-word;
}

#filter {
    background-image: url("/static/search.svg");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 8px 20px 8px 40px;
    margin-bottom: 12px;
    margin-top: 12px;
}

.sequenceCol {
    word-break: break-all;
}

#download-button {
    margin-bottom: 1em;
}